/* Estilos globales */

/* Estilos para el contenido */
#content {
    padding: 50px 20px; /* Espacio interno */
    background: linear-gradient(45deg, #ebebeb, #927979); /* Fondo con gradiente */
    color: #fff; /* Color de texto */
    font-family: 'Arial', sans-serif; /* Familia de fuente */
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-between;
    align-items: stretch; /* Alinea las alturas */
    margin-bottom: 60px;
}

h2 {
    color: #fff; /* Color de texto blanco */
}



/* Estilos para el formulario de contacto */


.btn-primary {
    padding: 10px 20px; /* Espacio interno */
    background-color: #007bff; /* Color de fondo del botón */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    color: #fff; /* Color del texto */
    cursor: pointer; /* Cambio de cursor al pasar */
    transition: background-color 0.3s; /* Transición de color de fondo */
}

.btn-primary:hover {
    background-color: #0056b3; /* Color de fondo al pasar el cursor */
}

/* Estilos para el mapa */
.map {
    margin-bottom: 60px; /* Espacio inferior para el mapa */
    flex: 1; /* Distribución flexible */
    height: auto; /* Altura automática */
}

.map iframe {
    margin-left: 1rem;
    width: 100%; /* Ancho completo para el mapa */
    height: 100%; /* Altura ajustada */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del mapa */
    transition: transform 0.3s; /* Transición de transformación */
}
