<div class="content">

  <div class="pagenav" style="display: flex; justify-content: center; gap: 15px; margin: 20px 0;">
    <button (click)="previousPage()" [disabled]="!hasPrevious" style="padding: 8px 16px; font-size: 14px; border: none; border-radius: 6px; 
                 background-color: #3498db; color: white; cursor: pointer;
                 transition: background-color 0.3s ease;">
      Página Anterior
    </button>

    <button (click)="nextPage()" [disabled]="!hasNext" style="padding: 8px 16px; font-size: 14px; border: none; border-radius: 6px; 
                 background-color: #2ecc71; color: white; cursor: pointer;
                 transition: background-color 0.3s ease;">
      Mostrar más posts
    </button>
  </div>


  <div *ngFor="let post of posts" class="entry">
    <h2>📌 {{ post.title }}</h2>

    <img *ngIf="post.image" class="entryphoto" [src]="'https://localhost:8443' + post.image"
      style="max-width: 35%; height: auto; border-radius: 10px; margin-bottom: 10px;" />

    <p style="text-align:left; font-size: 16px; color: #333;">{{ post.content }}</p>

    <p class="meta">
      📅 {{ post.date ? (post.date | customDate | date:'short') : '' }} | 👤 Posted by {{ post.username }} | 🏷️
      Tags: {{ post.tag }} | 💬 {{ post.comments?.length }} comentarios
    </p>

    <button (click)="toggleComments(post.id)" style="
          padding: 10px 20px;
          font-size: 16px;
          color: white;
          background-color: #3498db; /* azul agradable */
          border: none;
          border-radius: 12px;
          cursor: pointer;
          user-select: none;
        ">
      💬 Ver Comentarios
    </button>


    <div class="comments-container" *ngIf="commentsVisible[post.id]">
      <div *ngFor="let comment of post.comments" class="comment"
        style="border: 1px solid #ccc; margin-bottom: 8px; padding: 6px; background-color: #f9f9f9;">
        <p>🗨️ <strong>{{ comment.content }}</strong></p>
        <p >👤 {{ comment.user.username }}</p>
      </div>
    </div>

    <form (ngSubmit)="submitComment(post.id)" style="margin-top: 10px;">
      <textarea [(ngModel)]="newComments[post.id]" name="comment" rows="3" cols="50"
        placeholder="🖊️ Escribe tu comentario aquí..."
        style="width: 100%; border-radius: 6px; padding: 8px;"></textarea><br>
      <button class="button" type="submit"
        style="background-color: #2ecc71; color: white; border: none; padding: 8px 14px; border-radius: 8px;">
        💬 Comentar
      </button>
    </form>

  </div>


</div>