{{>header}}
<div id="content">
    <div id="left">
      <div class="entry">
        <h2><a href="#">Permisos de administración<nav></nav></a></h2>
  
        <h2>Elige qué desea hacer</h2>
        <a class="link" href="#">Banear usuarios</a><br class="hide" />
        <a class="link" href="#">Crear temática</a><br class="hide" />
        <a class="link" href="#">Editar temática</a><br class="hide" />
        <a class="link" href="#">Revisar y eliminar posts</a><br class="hide" />
      </div>
      {{#issues}}
  <div class="entry">
    <h2>Mensaje</a></h2>
    <p>{{content}}</p>
    <p class="meta"><span class="date">date</span> Issued by {{name}} </p>
    <form action="issue/{{id}}/delete" method="POST">
      <button class="button" type="submit">Borrar </button>
  </form>
  </div>

  {{/issues}}
    </div>
  </div>
  </div>
  {{>footer}}