{{>header}}
<div id="content">
    <div id="left">
        <div class="entry">
            <h2>Error: No eres administrador</h2>
            <p>Lo siento, pero esta página solo está disponible para usuarios administradores.</p>
        </div>
    </div>
</div>
{{>footer}}
