<link rel="stylesheet" href="../css/footer.css">
<footer id="footer">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <h2 class="hide">Site info</h2>
    <div class="footer-content">
        <p>&copy; 2024 El Rincón del Software</p>
        <p>Design by <a href="https://github.com/CodeURJC-DAW-2023-24/webapp17" target="_blank">webapp17</a></p>
        <p><a href="#" target="_blank">Homepage</a></p>
    </div>
    <div class="footer-icons">
        <a href="https://www.linkedin.com/in/jes%C3%BAs-gonz%C3%A1lez-gironda-642a85271/" target="https://www.linkedin.com/in/jes%C3%BAs-gonz%C3%A1lez-gironda-642a85271/" class="icon"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/in/jes%C3%BAs-gonz%C3%A1lez-gironda-642a85271/" target="https://www.linkedin.com/in/jes%C3%BAs-gonz%C3%A1lez-gironda-642a85271/" class="icon"><i class="fab fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/jes%C3%BAs-gonz%C3%A1lez-gironda-642a85271/" target="https://www.linkedin.com/in/jes%C3%BAs-gonz%C3%A1lez-gironda-642a85271/" class="icon"><i class="fab fa-instagram"></i></a>
        <a href="https://www.linkedin.com/in/jes%C3%BAs-gonz%C3%A1lez-gironda-642a85271/" class="icon"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </footer>
  </html>