.container-fluid {
    display: flex;
    justify-content: end;
    align-items: center;
    padding-top: 50px; /* Margen superior */
}

.form-control {
    border-radius: 25px;
    border-color: #007bff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.1);
    margin-right: 10px; /* Espacio a la derecha del campo de búsqueda */
}

.btn-outline-success {
    border-radius: 25px;
    border-color: #28a745;
    color: #28a745;
    transition: background-color 0.3s, color 0.3s;
}

.btn-outline-success:hover {
    background-color: #28a745;
    color: #ffffff;
}
